*{
    font-family: 'Roboto', 'sans-serif';
}

body {
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
    padding: 2% 0% 4% 0%;
}

.encabezado {
    display: flex;
}

.encabezado form {
    display: flex;
    flex-wrap: wrap;
}

.encabezado img {
    width: 50%;
}

.fas-fa-bars {
    width: 6%;
    height: 6%;
    background-color: #0044AA;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    margin: auto;
}

.fas-fa-bars:hover {
    background-color: #0022AA;
    cursor: pointer;
}
 .fas-fa-bars i{
     margin: auto;
 }

header nav{
    display: none;
}

.last-visit {
    display: flex;
    flex-direction: column;
}

.sale {
    display: flex;
    flex-direction: column;
}

.description-item {
    border-top: 1px solid #ebebeb;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3%;
}

.description-item .price{
    width: 30%;
}

.description-item .discount {
    flex-grow: 1;
}

.description-item .description {
    margin-top: 0%;
}

[class$="truck"]{
    color: #39b54a;
    display: block;
    padding: 2% 1.5%;
    background-color: white;
}

.description-item i {
    position: absolute;
    top: -15%;
    left: 85%;
    border: 1px solid #39b54a;
    border-radius: 100px;
}



section img {
    display: block;
    width: 100%;
}

h1 {
    display: none;
}

main h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
}

main section article {
    margin: 0px 15px 20px 15px;
    background-color: white;
}


footer {
    padding: 20px 5%;
    background-color: white;
}

footer article {
    margin: 20px 0px;
}

p {
    font-size: 12px;
}

h3 {
    font-size: 24px;;
}

.price {
    font-size: 18px;
}

.discount{
    font-size: 16px;
    color: #39b54a;
}

.description{
    font-size: 16px;
}

ul li {
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: #666;
}



footer [class$="card"]{
    color: #1259c3;
}

[class$="gift"]{
    color: #1259c3;
}

[class$="shield"]{
    color: #1259c3;
}






