*{
    font-family: 'Roboto', 'sans-serif';
    font-size: 12px;
}

body {
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
    padding: 2% 0% 4% 0%;
    padding: 5%;
}

.encabezado {
    display: flex;
    position: relative;
}

.encabezado form {
    display: flex;
}

.search-form {
    width: 100%;
    padding: 10px;
    margin: 5% 2%;
    border-radius: 5px;
    border: 0px;
}   

.fas-fa-search {
    border: none;
    background-color: white;
    color: grey;
    position: absolute;
    padding: 8px;
    top: 20%;
    left: 88%;
}

.encabezado img {
    width: 50%;
}

.fas-fa-hand-holding-usd{
    text-align: center;
}

.fas-fa-bars {
    width: 6%;
    height: 6%;
    background-color: #0044AA;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    margin: auto;
}

.fas-fa-bars:hover {
    background-color: #0022AA;
    cursor: pointer;
}

 .fas-fa-bars i{
     margin: auto;
 }

header nav{
    display: none;
}

main section article {
    margin: 0px 15px 20px 15px;
    background-color: white;
}

.last-visit {
    display: flex;
    flex-direction: column;
}

.sale {
    display: flex;
    flex-direction: column;
}

.description-item {
    border-top: 1px solid #ebebeb;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    padding: 3%;
}

.description-item .price{
    width: 30%;
    font-size: 18px;
}

.description-item .discount {
    flex-grow:1;
    font-size: 16px;
    color: #39b54a;
}

.description-item .description {
    font-size: 16px;
    display: none;
}

.item:hover .description{
    display: block;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

[class$="truck"]{
    color: #39b54a;
    display: block;
    padding: 2% 1.5%;
    background-color: white;
    border: 1px solid #39b54a;
    border-radius: 100px;
    position: relative;
    margin-top: -9%;
    margin-left: 90%;
}

section img {
    display: block;
    width: 100%;
}

h1 {
    display: none;
}

main h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
}

footer {
    padding: 20px 5%;
    background-color: white;
}

footer article {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(78, 75, 75);
}

footer article p {
    margin-top: 1%;
    margin-bottom: 15%;
    text-align: center;
}

h3 {
    font-size: 24px;
}

ul li {
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: #666;
}

[class$="card"]{
    color: #1259c3;    
    font-size: 2em;
    margin-bottom: 10px;
}

[class$="gift"]{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

[class$="shield"]{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

h4 {
    margin: 0%;
    font-size: 17px;
}

@media (min-width: 361px){

}

@media (min-width: 769px){

}




