<!DOCTYPE html> 
<html>
    <head>
        <%- include('partials/head-base',{title: "Registro"}) %>
    </head>
    <body>
        <%- include('partials/header') %>
        <h1>Registro</h1>   
        <main>    
            <form action="index.html" method="GET">
                <p>
                    <!--<label for="nombreApellido">Nombre y Apellido: </label>-->
                    <input class="input-register" type="text" name="nombreApellido" id="nombreApellido" placeholder="Nombre y Apellido">
                </p>
                <p>
                   <!-- <label for="userName">Nombre de usuario: </label>-->
                    <input class="input-register" type="text" name="userName" id="userName" placeholder="Nombre de usuario">
                </p>
                <p>
                   <!-- <label for="email">E-mail: </label>-->
                    <input class="input-register" type="email" name="email" id="email" placeholder="email">
                </p>
                <p>
                    <label class="title" for="BirthDate">Fecha de nacimiento</label>
                    <input class="input-register" type="date" name="BirthDate" id="BirthDate" placeholder="dd/mm/aa">
                </p>
                <p class="title">
                    Perfil de usuario
                </p>
                <p>
                    <input type="radio" id="Comprador" name="perfil" value="Comprador">
                    <label for="Comprador">Comprador</label>
                    <input type="radio" id="Vendedor" name="perfil" value="Vendedor">  
                    <label for="Vendedor">Vendedor</label>
                </p>
                <p class="title">
                    Categoría
                </p>    
                <p>
                    <input class="checkbox" type="checkbox" id="electro" name="cat1" value="electro">
                    <label for="electro">Electro</label>
                </p>
                <p>
                    <input class="checkbox" type="checkbox" id="moda" name="cat2" value="moda">
                    <label for="moda">Moda</label>
                </p>
                <p>
                    <input class="checkbox" type="checkbox" id="jugueteria" name="cat3" value="jugueteria">
                    <label for="jugueteria">Juguetería</label>
                </p>
                <p>
                    <input class="checkbox" type="checkbox" id="vidaSana" name="cat4" value="vidaSana">
                    <label for="vidaSana">Vida Sana</label>
                </p>
                <p class="title">
                    <label for="myfile">Elegí tu foto de usuario</label>
                </p>
                <p>
                    <input type="file" id="myfile" name="myfile">
                </p>
                <p>
                    <!--<label for="password">Contraseña:</label><br>-->
                    <input class="input-register" type="password" id="password" name="password" placeholder="Elegí tu contraseña">
                </p>
                <p>
                    <!--<label for="password">Confirmar contraseña:</label><br>-->
                    <input class="input-register" type="password" id="password" name="password" placeholder="Confirmá tu contraseña">
                </p>
                <p>
                    <button class="submit" type="submit">Enviar</button>
                    <button class="reset" type="reset">Borrar</button>
                </p>
            </form>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>
